In [3]:
def fun():
  print("Hello world!")
  print("python")

print("starting ")
fun()
print("end")

starting
Hello world!
python
end

In [4]:
def square():    #without argument and no return value
  x = int(input("Enter a number"))
  print(x*x)

square()

Enter a number5
25

In [5]:
#without argument and return value

def square():
  x = int(input("Enter a number"))
  return x*x

result = square()
print(result)

Enter a number10
100

In [8]:
#with argument and no return value

def odd_even(n):
  if n%2==0:
    print("even")
  else:
    print("odd")

odd_even(5)

odd

In [9]:
#with arguments and with return values

def square(n):
  x = n**2
  return x

s = square(4)
print(s)

16

In [13]:
#return multiple values

def student():
  roll = int(input("enter roll no "))
  name = input("enter name ")
  marks = int(input("enter marks "))
  return roll , name , marks

res = student()
print(res)  #returns a single tuple
print(type(res))

enter roll no 111
enter name Tudor
enter marks 14
(111, 'Tudor', 14)
<class 'tuple'>

In [14]:
# fn calling another function

def accept():
  print("entering accept fn")
  r = int(input("enter a no "))
  display(r)
  print("exit accept fn")

def display(n):
  print("entering display fn")
  print("value is ",n)
  print("exit display fn")

accept()

entering accept fn
enter a no 5
entering display fn
value is  5
exit display fn
exit accept fn

In [17]:
#local & global variable

n = 100

def fun1():
  print("start")
  k = 20
  print(k)
  print("end")

fun1()
print("n=",n)
print(k)

start
20
end
n= 100

NameError: name 'k' is not defined

In [18]:
#local & global variable > global keyword

n = 100

def fun1():
  print("start")
  global n
  n = 20
  print(n)
  print("end")

fun1()
print("n=",n)

start
20
end
n= 20

In [20]:
#keyword arguments

def add(a,b):
  print("a=",a)
  print("b=",b)
  print(a+b)

add(2,3)

a= 2
b= 3
5

In [21]:
#default arguments

def add(a,b=2):
  print("a=",a)
  print("b=",b)
  print(a+b)

add(5)

a= 5
b= 2
7

In [22]:

def fun(*a):
  print(a)

fun(1,2,3,4)

(1, 2, 3, 4)

In [23]:
def fun(*a):
  for i in a:
    print(i)

fun(10,20,30,40,50,60,70)

10
20
30
40
50
60
70